<nav class="navbar navbar-expand-lg navbar-light bg-light p-2">
    <div class="container-fluid">

        <a class="navbar-brand" href="#">CHIS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Sobre mi</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Proyectos</a>
            </li>
            <li class="nav-item">
            <a class="nav-link disabled">NFT</a>
            </li><li class="nav-item">
            <a class="nav-link disabled">Curriculum</a>
            </li>
        </ul>
        </div>

    </div>
</nav>

<!---######################### Comienzo HOME ############################ ---->

<div class="container ">
    <div class="hero text-center">
        <h1>CHISTHOPER MELLA T.</h1>
        <h2>Programador full-stack</h2>
        <div class="perf"></div>
    </div>

    <hr class="hr">

    <div class="row m-5">
        <div class="col-lg-5 m-5 parrafoAbout">
            <h2 class="m-5"> Sobre mi </h2>
            <p class="about">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis debitis eius doloremque dicta voluptates quo, iure cum magni placeat reiciendis ipsam nesciunt. Sit, itaque ab dolorum est quisquam ratione ipsam.</p>
        </div>
        <div class="col-lg-5">
            <div class="coding"></div>
        </div>
    </div>


 
<!---######################### Comienzo Tecnologias  ############################ ---->

    <h2 class="text-center m-3">Tecnologías</h2>
        <div class="main-wrapper">
            <i class="material-icons">attach_file</i>
            <i class="material-icons">settings</i>
            <i class="material-icons">refresh</i>
        </div>


   </div>
